<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>EL</title>
    <link href="./app.css" rel="stylesheet" />
  </head>
  <body>
    <div class="site">
      <div class="gallery-page">
        <div class="site-header">
          <div class="navbar navbar-expend-lg">
            <div class="navbar-heading">
              <a href="./index.html" class="navbar-brand">
                <img src="./media/logo.png" />
                <div class="bottom-three-color">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar_main">
              <div class="navbar-expanded">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a href="./index.html" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                    <a href="./about.html" class="nav-link">ABOUT</a>
                  </li>
                  <li class="nav-item">
                    <a href="./gallery.html" class="nav-link">GALLERY</a>
                  </li>
                  <li class="nav-item">
                    <a href="./journal.html" class="nav-link">Journal</a>
                  </li>
                  <li class="nav-item">
                    <a href="./press.html" class="nav-link">PRESS</a>
                  </li>
                  <li class="nav-item">
                    <a href="./contact.html" class="nav-link">CONTACT</a>
                  </li>
                </ul>
                <div class="navbar-footer">
                  <h4 class="text-white">egidio@egidiolatorraca.com</h4>
                  <div class="navbar-socials">
                    <a href="#"><i class="icon icon-md icon-white-wechat"></i></a>
                    <a href="#"><i class="icon icon-md icon-white-linkedin"></i></a>
                    <a href="#"><i class="icon icon-md icon-white-instagram"></i></a>
                    <a href="#"><i class="icon icon-md icon-white-facebook"></i></a>
                    <a href="#"><i class="icon icon-md icon-white-weibo"></i></a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="site-main">
          <div class="section-hero" style="background-image: url('./media/gallery-hero.png')">
            <div class="container">
              <a href="./gallery.html"><h4 class="special-title">Gallery</h4></a>
            </div>
          </div>
          <div class="section-quotes bg-orange before-line">
            <div class="container">
              <div class="quotes">
                <h4 class="title mb-8 ml-md-6">Magical moments frozen in time</h4>
                <div class="content">
                  <p>Photographs are like great dishes. They are magical moments frozen in time. 
                    They evoke powerful emotions. Here follows my life told in pictures. Join me 
                    in a feast of memory.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="section-posts">
            <div class="container">
              <div class="row mb-6 mb-md-12 right-line">
                <div class="col-md-9">
                  <div class="featured-image" style="background-image: url('./media/gallery-img-1.png')"></div>
                </div>
                <div class="col-md-3 py-4 py-md-6 px-3 px-lg-6">
                  <div class="sub-title font-size-xs text-warning">CHEF COLLAB</div>
                  <div class="content">
                    Great Gastro : Experience the 
                    new creation from Chef 
                    Egidio Latorraca</div>
                </div>
              </div>
              <div class="row mb-6 mb-md-12 align-items-end justify-content-between">
                <div class="col-md-7">
                  <div class="featured-image mb-5" style="background-image: url('./media/gallery-img-2.png')"></div>
                  <div class="sub-title text-warning">EVENT</div>
                  <div class="content">Great Gastro : Experience the new creation </div>
                  <div class="line-right right-40"></div>
                </div>
                <div class="col-md-3">
                  <div class="grid-item grid-video mb-8" style="background-image: url('./media/grid2.png')">
                    <div class="play-button">
                      <i class="icon icon-play icon-xs"></i>
                    </div>
                  </div>
                  <div class="sub-title text-warning">EVENT</div>
                  <div class="content">Great Gastro : Experience the new creation </div>
                  <div class="line-right right-5"></div>
                </div>
              </div>
              <div class="row mb-6 mb-md-12 right-line">
                <div class="col-md-9">
                  <div class="featured-image" style="background-image: url('./media/gallery-img-3.png')"></div>
                </div>
                <div class="col-md-3 py-4 py-md-6 px-3 px-lg-6">
                  <div class="sub-title font-size-xs text-warning">TV SHOW</div>
                  <div class="content">
                    Great Gastro : Experience the 
                    new creation from Chef 
                    Egidio Latorraca</div>
                </div>
              </div>
              <div class="row mb-6 mb-md-12 align-items-end justify-content-between">
                <div class="col-md-7">
                  <div class="featured-image mb-5" style="background-image: url('./media/gallery-img-4.png')"></div>
                  <div class="sub-title text-warning">EVENT</div>
                  <div class="content">Great Gastro : Experience the new creation </div>
                  <div class="line-right right-40"></div>
                </div>
                <div class="col-md-3">
                  <div class="featured-image mb-4" style="background-image: url('./media/gallery-img-5.png'); max-width: 222px; margin-left: auto; margin-right: auto; padding-bottom: 100%;"></div>
                  <div class="sub-title text-warning">EVENT</div>
                  <div class="content">Great Gastro : Experience the new creation </div>
                  <div class="line-right right-5"></div>
                </div>
              </div>
              <div class="row mb-6 mb-md-12 right-line">
                <div class="col-md-9">
                  <div class="featured-image" style="background-image: url('./media/gallery-img-6.png')"></div>
                </div>
                <div class="col-md-3 py-4 py-md-6 px-3 px-lg-6">
                  <div class="sub-title font-size-xs text-warning">TEACHING</div>
                  <div class="content">
                    Great Gastro : Experience the 
                    new creation from Chef 
                    Egidio Latorraca</div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="section-socials">
            <div class="container">
              <div class="socials">
                <div class="social">
                  <div class="name">WeChat</div>
                  <i class="icon icon-wechat icon-xl"></i>
                  <div class="tag">egidio</div>
                </div>
                <div class="social">
                  <div class="name">LinkedIN</div>
                  <i class="icon icon-linkedin icon-xl"></i>
                  <div class="tag">/egidio</div>
                </div>
                <div class="social">
                  <div class="name">Instagram</div>
                  <i class="icon icon-instagram icon-xl"></i>
                  <div class="tag">@egidio</div>
                </div>
                <div class="social">
                  <div class="name">Facebook</div>
                  <i class="icon icon-facebook-big icon-xl"></i>
                  <div class="tag">/egidio</div>
                </div>
                <div class="social">
                  <div class="name">Weibo</div>
                  <i class="icon icon-weibo icon-xl"></i>
                  <div class="tag">egidio</div>
                </div>
              </div>
              <h4 class="text-center h5 h4-md">egidio@egidiolatorraca.com</h4>
            </div>
          </div>
          
        </div>
        <div class="site-footer">
          <div class="main-footer row">
            <div class="footer-text col-md-6">Egidio Latorraca Copyright ©2020</div>
            <div class="privacy-policy col-md-6">
              Privacy Policy
            </div>
          </div>
          <div class="bottom-three-color">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="./app.js"></script>
  </body>
</html>