<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>EL</title>
    <link href="./app.css" rel="stylesheet" />
  </head>
  <body>
    <div class="site">
      <div class="grandmother-page">
        <div class="site-header">
          <div class="navbar navbar-expend-lg">
            <div class="navbar-heading">
              <a href="./index.html" class="navbar-brand">
                <img src="./media/logo.png" />
                <div class="bottom-three-color">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar_main">
              <div class="navbar-expanded">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a href="./index.html" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                    <a href="./about.html" class="nav-link">ABOUT</a>
                  </li>
                  <li class="nav-item">
                    <a href="./gallery.html" class="nav-link">GALLERY</a>
                  </li>
                  <li class="nav-item">
                    <a href="./journal.html" class="nav-link">Journal</a>
                  </li>
                  <li class="nav-item">
                    <a href="./press.html" class="nav-link">PRESS</a>
                  </li>
                  <li class="nav-item">
                    <a href="./contact.html" class="nav-link">CONTACT</a>
                  </li>
                </ul>
                <div class="navbar-footer">
                  <h4 class="text-white">egidio@egidiolatorraca.com</h4>
                  <div class="navbar-socials">
                    <a href="#"><i class="icon icon-md icon-white-wechat"></i></a>
                    <a href="#"><i class="icon icon-md icon-white-linkedin"></i></a>
                    <a href="#"><i class="icon icon-md icon-white-instagram"></i></a>
                    <a href="#"><i class="icon icon-md icon-white-facebook"></i></a>
                    <a href="#"><i class="icon icon-md icon-white-weibo"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="site-main">
          <div class="section-hero background-dark" style="background-image: url('./media/grandmother-hero.png')">
            <div class="container">
              <a href="./gallery.html"><h4 class="special-title">Grandmother Finale</h4></a>
            </div>
          </div>
          <div class="section-quotes before-line left-glasses">
            <div class="container">
              <div class="quotes">
                <h4 class="title mb-8 ml-md-6">Scalini Saturday and Sunday A La Carte 
                  Brunch Italo American Style Brunch Served
                  At Your Table
                  <div class="text-warning font-size-xs mt-3">SPICEY, BRUNCH, CLASSIC</div>
                </h4>
                <div class="content ml-md-6">
                  <p>Lazy mornings mean waking too late for breakfast but too early for lunch.  
                    This makes it the perfect time to deploy some indulgent brunch menus.</p>
                  <p>Lazy mornings mean waking too late for breakfast but too early for lunch.  
                    This makes it the perfect time to deploy some indulgent brunch menus.</p>
                  <p>Lazy mornings mean waking too late for breakfast but too early for lunch.  
                    This makes it the perfect time to deploy some indulgent brunch menus.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="section-foods">
            <div class="container">
              <div class="row mb-7">
                <div class="col-md-6 line-left">
                  <div class="featured-image" style="background-image: url('./media/food.png')"></div>
                </div>
                <div class="col-md-6 pl-md-12 line-right">
                  <p class="text-warning">Ingridients</p>
                  <br />
                  <p>Lemon Tart</p>
                  <br />
                  <p>Scalini tiramisu</p>
                  <br />
                  <p>Chocolate cake</p>
                  <br />
                  <p>Blueberries cheese cake</p>
                  <br />
                  <p>Provencal strawberries tart</p>
                  <br />
                  <p>Passion Fruit panna cotta, spicy 
                    pineapplecompote</p>
                  <br />
                  <p>Affogato, vanilla ice cream, espresso 
                    coffee</p>
                  <br />
                  <p>Ice cream selection2</p>
                </div>
              </div>
              <div class="row mb-7">
                <div class="col-md-6 line-left">
                  <div class="featured-image" style="background-image: url('./media/food.png')"></div>
                </div>
              </div>
              <div class="row mb-7">
                <div class="col-md-6 line-left">
                  <div class="featured-image opacity-7" style="background-image: url('./media/food.png')"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-other-menus">
            <div class="container">
              <div class="row align-items-end">
                <div class="col-md-5">
                  <div class="sub-title text-warning font-size-xs">BREAKFAST</div>
                  <h4 class="title">Other Menus</h4>
                </div>
                <div class="col-md-7">
                  <ul class="other-menus">
                    <li>
                      <a href="#">Brunch</a>
                    </li>
                    <li>
                      <a href="#">Spring</a>
                    </li>
                    <li>
                      <a href="#">Summer</a>
                    </li>
                    <li>
                      <a href="#">Autumn</a>
                    </li>
                    <li>
                      <a href="#">Winter</a>
                    </li>
                    <li>
                      <a href="#">Wine Dinner</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row foods">
                <div class="col-md-5">
                  <div class="featured-image" style="background-image: url('./media/food.png')"></div>
                </div>
                <div class="col-md-5">
                  <div class="featured-image" style="background-image: url('./media/food.png')"></div>
                </div>
                <div class="col-md-5">
                  <div class="featured-image" style="background-image: url('./media/food.png')"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-journal">
            <div class="container mb-4 pt-14">
              <a href="#" class="text-dark text-underline">MY JOURNAL</a>
            </div>
            <div class="row align-items-center">
              <div class="col-md-6 px-md-9">
                <div class="glasses text-center">
                  <img src="./media/top-glasses.png" class="mb-6" />
                  <h4>Follow my journal to discover secrets behind some of my best masterpieces.</h4>
                  <img src="./media/bottom-glasses.png" class="mt-6" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="cards-carousel">
                  <div class="slick-item">
                    <div class="card-order">
                      <div class="featured-image" style="background-image: url('./media/order-1.png')"></div>
                      <div class="sub-title text-warning">EASY MEALS</div>
                      <div class="description">
                        <i>Chef Egidio Latorraca during 
                          a 3 year stint at Scalini, Hilton,
                          Sukhumvit, Bangkok.</i>
                      </div>
                    </div>
                  </div>
                  <div class="slick-item">
                    <div class="card-order">
                      <div class="featured-image" style="background-image: url('./media/order-2.png')"></div>
                      <div class="sub-title text-warning">EASY MEALS</div>
                      <div class="description">
                        <i>Pappardelle Pasta with Italian
                          sausage and two types of
                          mushrooms.</i>
                      </div>
                    </div>
                  </div>
                  <div class="slick-item">
                    <div class="card-order">
                      <div class="featured-image" style="background-image: url('./media/order-1.png')"></div>
                      <div class="sub-title text-warning">SNACKS</div>
                      <div class="description">
                        <i>Chef Egidio Latorraca during 
                          a 3 year stint at Scalini, Hilton,
                          Sukhumvit, Bangkok.</i>
                      </div>
                    </div>
                  </div>
                  <div class="slick-item">
                    <div class="card-order">
                      <div class="featured-image" style="background-image: url('./media/order-2.png')"></div>
                      <div class="sub-title text-warning">EASY MEALS</div>
                      <div class="description">
                        <i>Pappardelle Pasta with Italian
                          sausage and two types of
                          mushrooms.</i>
                      </div>
                    </div>
                  </div>
                  <div class="slick-item">
                    <div class="card-order">
                      <div class="featured-image" style="background-image: url('./media/order-1.png')"></div>
                      <div class="sub-title text-warning">EASY MEALS</div>
                      <div class="description">
                        <i>Chef Egidio Latorraca during 
                          a 3 year stint at Scalini, Hilton,
                          Sukhumvit, Bangkok.</i>
                      </div>
                    </div>
                  </div>
                  <div class="slick-item">
                    <div class="card-order">
                      <div class="featured-image" style="background-image: url('./media/order-2.png')"></div>
                      <div class="sub-title text-warning">EASY MEALS</div>
                      <div class="description">
                        <i>Pappardelle Pasta with Italian
                          sausage and two types of
                          mushrooms.</i>
                      </div>
                    </div>
                  </div>
                  <div class="slick-item">
                    <div class="card-order">
                      <div class="featured-image" style="background-image: url('./media/order-1.png')"></div>
                      <div class="sub-title text-warning">SNACKS</div>
                      <div class="description">
                        <i>Chef Egidio Latorraca during 
                          a 3 year stint at Scalini, Hilton,
                          Sukhumvit, Bangkok.</i>
                      </div>
                    </div>
                  </div>
                  <div class="slick-item">
                    <div class="card-order">
                      <div class="featured-image" style="background-image: url('./media/order-2.png')"></div>
                      <div class="sub-title text-warning">EASY MEALS</div>
                      <div class="description">
                        <i>Pappardelle Pasta with Italian
                          sausage and two types of
                          mushrooms.</i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-socials">
            <div class="container">
              <div class="socials">
                <div class="social">
                  <div class="name">WeChat</div>
                  <i class="icon icon-wechat icon-xl"></i>
                  <div class="tag">egidio</div>
                </div>
                <div class="social">
                  <div class="name">LinkedIN</div>
                  <i class="icon icon-linkedin icon-xl"></i>
                  <div class="tag">/egidio</div>
                </div>
                <div class="social">
                  <div class="name">Instagram</div>
                  <i class="icon icon-instagram icon-xl"></i>
                  <div class="tag">@egidio</div>
                </div>
                <div class="social">
                  <div class="name">Facebook</div>
                  <i class="icon icon-facebook-big icon-xl"></i>
                  <div class="tag">/egidio</div>
                </div>
                <div class="social">
                  <div class="name">Weibo</div>
                  <i class="icon icon-weibo icon-xl"></i>
                  <div class="tag">egidio</div>
                </div>
              </div>
              <h4 class="text-center h5 h4-md">egidio@egidiolatorraca.com</h4>
            </div>
          </div>
          
        </div>
        <div class="site-footer">
          <div class="main-footer row">
            <div class="footer-text col-md-6">Egidio Latorraca Copyright ©2020</div>
            <div class="privacy-policy col-md-6">
              Privacy Policy
            </div>
          </div>
          <div class="bottom-three-color">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="./app.js"></script>
  </body>
</html>